.playerSummary h2 { font-weight:bold; }

.playerSummary .table-banner {
  background-color:#333;
  color:#FFF;
  padding:15px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top:25px;
  z-index: 2;
}

.playerSummary .tab-pane>div {
  background:#FFF;
}
.playerSummary table>thead {
  background-color:#CCC;
}
.playerSummary table>thead>tr>th,
.playerSummary table>tbody>tr>td {
  text-align: center;
}
.playerSummary table>thead>tr>th:first-child,
.playerSummary table>tbody>tr>td:first-child { 
  text-align: left;
}

.playerSummary .zeta1 {
    /*background:rgba(153,0,119,0.1);*/
    /* background-image: url('./img/zeta1.png'); */
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: right;
}
.playerSummary .zeta2 {
    /*background:rgba(153,0,119,0.1);*/
    /* background-image: url('./img/zeta2.png'); */
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: right;
}
.playerSummary .zeta3 {
    /*background:rgba(153,0,119,0.1);*/
    /* background-image: url('./img/zeta3.png'); */
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: right;
}

.playerSummary .shrug { font-size:10px; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"}

.playerSummary section { margin-bottom:30px; }

.playerSummary .table-responsive {
    overflow-x: visible;
    min-height: .01%;
}
